<div class="jumbotron-fluid">
  <div class="row">
    <form (ngSubmit)='submitQuote()' #quoteForm='ngForm'>
      <!-- Name Form -->
      <div style="margin-left: 5%;" class="form-group">

        <label for="name">Quote Author..</label>
        <br>
        <input style="width: auto; height: 80px;border-radius:5px;" type="text" class="form-control" id="name" [(ngModel)]="newQuote.name" name="name" #name="ngModel" required >
        
        <br>

        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
          <p> Author is Required</p>
        
        </div>

        <!--Testing  to see if we get data-->
         Display {{newQuote.name}}

      </div>

      <!-- Quote Input -->
      <div style="margin-top:3%;margin-left: 5%;" class="form-group">

        <label for="description">Quote..</label>
        <br>
        <textarea class="form-control" id="description" rows="4" [(ngModel)]="newQuote.description" name="description" #description="ngModel" required style="width:auto;height:80px;border-radius: 5px;" ></textarea>
        <br>
        <div [hidden]="description.valid || description.pristine" class="alert alert-danger">
          <br>
          <p> Quote is Required</p>
        
        </div>
        
        <!--Testing  to see if we get data-->
        Display {{newQuote.description}}

      </div>

      <!-- Date Input -->
      <div style="display: flex;position:center" class="form-group">
        <label for="complete">Date:</label>
        <br>
        <input style="border-radius: 5px solid grey;" type='date' id="complete" [(ngModel)]="newQuote.completeDate" name="completeDate" #completeDate="ngModel" required>
        <div [hidden]="completeDate.valid || completeDate.pristine" class="alert alert-danger">
          <p>Date is Required</p>
        
        </div>

      </div>
      
      <button style="margin-left: 30%; margin-top: 2%;" type="submit" id="button" ></button>
    </form>
  </div>
</div>

<!-- $ ng build --prod --base-href "https://peterkush.github.io/quotes/" -->
 <!-- npx angular-cli-ghpages --dir=dist/quotes -->